{% extends "layout.html" %}

{% block body %}

<h3>Hakkımızda</h3>
<hr>
After I graduated from Kadıköy Anatolian High School, I prefer to study mechanical engineer in Koç University. Koç is a Turkish University that classes/ lessons taught in English. When I was sophomore, I took an introduction to economy class. After this class, I decided to make a double major with economics. I had finished two majors in 4,5 years. 
I have always been independent and adventurous, and this led me to seek new experiences and pursue my goals with passion. In my first summer holiday of high school, I have been in United Kingdom to learn English. In 2015, I made an interrail trip which consist of 8 countries visited by train. In 2017, I have been in Nice, France in order to improve my French level. And after 2017, I have continued to visit countries such as United States, Greece etc. 
<hr>

{% endblock body %}